body {
  font-family: 'Inika', serif;
}

.header {
  height: 100px;
  border-bottom: 1px solid #e0dfde;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header__inner {
  margin: 0 auto;
}

.header__logo {
  color: #8B7969;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
}

.confirm__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.confirm__title {
  color: #8B7969;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 972px;
}

.confirm-table {
  border: 1px solid #ddd;
}

.confirm-table__inner {
  width: 100%;
}

.confirm-table__row {
  height: 70px;
}

.confirm-table__header {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #fff;
  padding: 15px 60px;
  width: 305px;
  border-bottom: 1px solid #e0dfde;
  background-color: #baa899;
  font-weight: bold;
}

.confirm-table__text {
  font-size: 18px;
  font-weight: 400;
  padding: 15px 45px;
  color: #8B7969;
  border-bottom: 1px solid #e0dfde;
}

.confirm-table__text input {
  width: 665px;
  outline: none;
  border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
  height: 116px;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 8px;
  font-size: 20px;
  font-weight: 400;
  width: 120px;
  height: 42px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: pointer;
}

.form__button-edit {
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
  color: #8B7969;
  cursor: pointer;
}