.confirm-body {
  font-family: 'Inika', serif;
}

.header {
  height: 100px;
  border-bottom: 1px solid #e0dfde;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-inner {
  margin: 0 auto;
}

.header-logo {
  color: #8B7969;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
}

.confirm-content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.confirm-title {
  color: #8B7969;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 972px;
}

.confirm-table {
  border: 1px solid #ddd;
}

.confirm-table-inner {
  width: 100%;
}

.confirm-table-row {
  height: 70px;
}

.confirm-table-header {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #fff;
  padding: 15px 60px;
  width: 305px;
  border-bottom: 1px solid #e0dfde;
  background-color: #baa899;
  font-weight: bold;
}

.confirm-table-text {
  font-size: 18px;
  font-weight: 400;
  padding: 15px 45px;
  color: #8B7969;
  border-bottom: 1px solid #e0dfde;
}

.confirm-table-text input {
  width: 665px;
  outline: none;
  border: none;
}

.confirm-table-row:last-child .confirm-table-header,
.confirm-table-row:last-child .confirm-table-text {
  border-bottom-width: 0;
  height: 116px;
}

.form-button {
  margin-top: 30px;
  text-align: center;
}

.form-button-submit {
  padding: 8px;
  font-size: 20px;
  font-weight: 400;
  width: 120px;
  height: 42px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: pointer;
}

.form-button-edit {
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
  color: #8B7969;
  cursor: pointer;
}