body {
  font-family: 'Inika', serif;
}

.header {
  height: 100px;
  border-bottom: 1px solid #e0dfde;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1230px;
  padding: 0 20px;
}

.header-logo {
  color: #8B7969;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
}

.header-link {
  color: #8B7969;
  text-decoration: none;
  font-size: 16px;
}

.header-link:hover {
  opacity: 0.7;
}

.auth-form-content {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 500px;
}

.auth-form-heading {
  text-align: center;
  margin-bottom: 40px;
}

.auth-form-heading h2 {
  font-size: 35px;
  font-weight: 400;
  color: #8B7969;
}

.auth-form-group {
  margin-bottom: 24px;
}

.auth-form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  color: #8B7969;
  font-weight: 400;
}

.auth-form-input {
  width: 100%;
}

.auth-form-input input {
  width: 100%;
  height: 38px;
  padding-left: 33px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: #f4f4f4;
  color: #BEB1A6;
  box-sizing: border-box;
}

.auth-form-input input:focus {
  outline: none;
}

.auth-form-input input::placeholder {
  color: #BEB1A6;
}

.auth-form-error {
  margin-top: 5px;
  font-size: 14px;
  color: #ff0000;
  min-height: 20px;
}

.auth-form-button {
  margin-top: 32px;
  text-align: center;
}

.auth-form-button-submit {
  padding: 10px;
  width: 160px;
  height: 46px;
  border: none;
  background: #82756a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.auth-form-button-submit:hover {
  opacity: 0.8;
}
