.login-body {
  font-family: 'Inika', serif;
  background-color: #F1ECE7;
}

.header {
  height: 100px;
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-inner {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1230px;
  padding: 0 20px;
}

.header-logo {
  color: #8B7969;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
}

.header-register-link {
  position: absolute;
  width: 100px;
  height: 34px;
  right: 10px;
  background-color: rgba(240, 240, 240, 0.6);
  color: #D9C6B5;
  border: 1px solid #D9C6B5;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.header-register-link:hover {
  opacity: 0.7;
}

.auth-form-content {
  margin: 0 auto;
  padding: 40px 20px;
}

.auth-form-heading {
  text-align: center;
  margin-bottom: 60px;
  font-size: 35px;
  font-weight: 400;
  color: #8B7969;
}

.auth-form {
  margin: 0 auto;
  background-color: #fff;
  width: 736px;
  height: 579px;
  border-radius: 10px;
  border: 1px solid #c5b9b0;
  padding: 75px 145px 170px;
}

.auth-form-group {
  margin-bottom: 45px;
}

.auth-form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  color: #8B7969;
  font-weight: 400;
}

.auth-form-input {
  width: 100%;
}

.auth-form-input input {
  width: 100%;
  height: 55px;
  padding-left: 33px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: #f4f4f4;
  color: #BEB1A6;
  box-sizing: border-box;
}

.auth-form-input input:focus {
  outline: none;
}

.auth-form-input input::placeholder {
  color: #BEB1A6;
}

.auth-form-error {
  margin-top: 5px;
  font-size: 14px;
  color: #ff0000;
  min-height: 20px;
}

.auth-form-button {
  margin-top: 95px;
  text-align: center;
}

.auth-form-button-submit {
  width: 160px;
  height: 46px;
  border: none;
  background: #82756a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.auth-form-button-submit:hover {
  opacity: 0.8;
}
