body {
  font-family: 'Inika', serif;
}

.thanks-content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.thanks-heading {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #8B7969;
  text-align: center;
}

.thanks-button {
  margin-top: 40px;
  text-align: center;
}

.thanks-button-home {
  display: inline-block;
  padding: 8px;
  font-size: 20px;
  font-weight: 400;
  width: 140px;
  height: 46px;
  background: #82756A;
  color: #fff;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
}

.bg-text {
  width: 1400px;
  font-size: 280px;
  font-weight: 400;
  color: #8B7969;
  opacity: 0.05;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}